.intro-cards-section {
  padding: 100px 0;
  background-color: #edeff1;
  color: #464b53;
}

.intro-cards-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.intro-cards-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 700px;
}

.intro-cards-head h2 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 1.1;
  color: #202427;
}

.intro-cards-head p {
  font-size: 20px;
  line-height: 1.3;
}

.btn-violet {
  background-color: #690dd3;
  color: #fff;
  border-color: #690dd3;
}

.btn-violet:hover {
  background-color: #5e1cab;
  border-color: #5e1cab;
}

.intro-cards-content {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
}

.intro-card {
  position: relative;
  color: #fff;
  padding: 24px;
  border-radius: 32px;
  min-height: 370px;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease;
}

.intro-card:hover {
  transform: translateY(-10px);
}

.intro-card:nth-child(1) {
  background: linear-gradient(
    158deg,
    rgba(117, 90, 252, 0.8) -13%,
    rgba(53, 6, 120, 1) 97%
  );
}

.intro-card:nth-child(2) {
  background: linear-gradient(
    158deg,
    rgba(150, 143, 251, 0.5) -6%,
    rgba(85, 75, 150, 1) 97%
  );
}

.card-title {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.25;
  z-index: 2;
}

@media (min-width: 768px) {
  .intro-card {
    max-width: 320px;
  }
}

@media (min-width: 1025px) {
  .intro-card {
    max-width: 498px;
  }
}
