.main-banner-section {
  padding: 100px 0;
  background-color: var(--background-light);
}

.main-banner-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 40px;
}

.main-banner-media {
  max-width: 400px;
}

.main-banner-media img {
  border-radius: var(--border-radius-large);
}

.main-banner-content {
  text-align: center;
}

.main-banner-content h2 {
  color: var(--text-dark);
  font-size: 2.5rem;
  margin-bottom: 16px;
}

.main-banner-content p {
  color: var(--text-dark);
  opacity: 0.8;
  font-size: 1.125rem;
  margin-bottom: 32px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .main-banner-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    text-align: left;
  }
  .main-banner-media {
    flex-basis: 45%;
    max-width: none;
  }
  .main-banner-content {
    flex-basis: 55%;
  }
  .main-banner-content h2 {
    font-size: 3rem;
  }
}
