.hero-section {
  background: linear-gradient(
    90deg,
    var(--secondary-accent) 3%,
    var(--primary-base) 55%
  );
  background-size: cover;
  overflow: hidden;

  border-radius: 0 0 32px 32px;
}

.hero-block {
  color: var(--neutral-white);
  position: relative;
  width: 100%;

  min-height: 100%;
  height: 100dvh;
  max-height: 812px;

  display: table;
}

.hero-background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.hero-background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.hero-wrapper {
  position: relative;
  z-index: 2;
  height: 100%;

  display: table-cell;
  vertical-align: bottom;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  gap: 20px;
  height: 100%;
  width: 90%;
  max-width: 450px;
  padding-top: 140px;
  padding-bottom: 128px;
}

.hero-content .h1 {
  font-family: var(--font-main);
  font-weight: 700;
  color: var(--neutral-white);
  font-size: 38px;
  line-height: 1.15;
}

.hero-text {
  font-size: 16px;
  line-height: 1.25;
}

.hero-btn-desktop {
  display: none;
}

.hero-btn-mobile {
  display: inline-flex;
}

.btn-large {
  padding: 23px 30px;
  min-height: 82px;
  font-size: 26px;
  line-height: 1.3;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    border-radius: 0 0 64px 64px;
  }

  .hero-block {
    max-height: 952px;
  }

  .hero-content {
    gap: 32px;
    max-width: 47%;
    min-width: 425px;
  }

  .hero-content .h1 {
    font-size: 64px;
    line-height: 1.2;
  }

  .hero-text {
    font-size: 20px;
    line-height: 1.3;
  }

  .hero-btn-desktop {
    display: inline-flex;
  }

  .hero-btn-mobile {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .hero-section {
    border-radius: 0 0 100px 100px;
  }

  .hero-content {
    gap: 40px;
    max-width: 585px;
  }

  .hero-content .h1 {
    font-size: 88px;
    line-height: 1;
  }
}
