.reveal {
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: var(--animation-delay, 0ms);
}

.reveal.revealed {
  opacity: 1;
  transform: translate(0, 0) !important;
}

.reveal.fade-in-up {
  transform: translateY(30px);
}

.reveal.fade-in {
  transform: translateY(0);
}

.reveal.slide-left {
  transform: translateX(-40px);
}

.reveal.slide-right {
  transform: translateX(40px);
}
