.features-section {
  padding: 120px 0;
  background-color: var(--background-dark);
  position: relative;
}

.features-content-box {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 80px;
  border-radius: var(--border-radius-large);

  background: var(--primary-dark-glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(0, 245, 195, 0.2);
}

.feature-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.feature-image {
  flex-shrink: 0;
}

.feature-image img {
  border-radius: var(--border-radius-small);
}

.feature-text {
  color: var(--text-light);
}

.feature-text h2 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 24px;
  color: var(--primary-color);
}

.feature-text p {
  font-size: 1.125rem;
  line-height: 1.6;
  opacity: 0.8;
}

@media (min-width: 1025px) {
  .feature-block {
    flex-direction: row;
    gap: 80px;
  }
  .feature-image {
    width: 50%;
  }
  .feature-text {
    width: 50%;
  }
  .feature-block:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
