.site-footer {
  width: 100%;
  background: var(--primary-base);
  color: #a8adb4;
  border-radius: 36px 36px 0 0;
  overflow: hidden;
}

.action-banner-section {
  padding: 110px 0;
}

.action-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 65px;
  color: var(--neutral-white);
}

.action-banner-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.05;
  position: relative;
  z-index: 1;
  color: white;
}

.action-banner-button-wrapper {
  position: relative;
  flex-shrink: 0;
}

@keyframes waveAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  5% {
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -50%) scale(6);
    opacity: 0;
  }
}

.action-banner-btn-wave {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 206px;
  height: 120px;
  border-radius: 1000px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 128, 0.4),
    rgba(87, 176, 240, 0.4)
  );
  opacity: 0;
  transform-origin: center center;
  animation: waveAnimation 10s linear infinite;
  pointer-events: none;
  z-index: 0;
}

.action-banner-btn-wave:nth-child(2) {
  animation-delay: -2.5s;
}
.action-banner-btn-wave:nth-child(3) {
  animation-delay: -5s;
}
.action-banner-btn-wave:nth-child(4) {
  animation-delay: -7.5s;
}

.action-banner-btn {
  position: relative;
  z-index: 1;
  padding: 15px 23px;
  min-height: 56px;
  font-size: 18px;
}

.footer-wrapper {
  position: relative;
  padding: 0 16px 32px;
}

.footer-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.menu-group {
  width: 100%;
}
.menu-group-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--neutral-white);
  padding: 10px 0;
}
.menu-group-content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-top: 4px;
}
.menu-group-link {
  font-size: 16px;
  transition: color var(--transition-speed);
}
.menu-group-link:hover {
  color: var(--neutral-white);
}

.soon-label {
  background: #f5edff;
  border-radius: 24px;
  padding: 4px 8px;
  font-size: 12px;
  color: #690dd3;
  font-weight: 500;
  margin-left: 8px;
}

.copyright {
  font-size: 11px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 24px;
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .site-footer {
    border-radius: 64px 64px 0 0;
  }
  .action-banner-section {
    padding-top: 52px;
  }
  .action-banner-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .action-banner-title {
    font-size: 64px;
    text-align: left;
  }
  .action-banner-button-wrapper {
    margin: 0;
  }
  .action-banner-btn-wave {
    width: 360px;
    height: 208px;
  }

  .action-banner-btn {
    padding: 23px 30px;
    min-height: 82px;
    font-size: 26px;
  }

  .footer-wrapper {
    padding-bottom: 60px;
  }
  .footer-menu {
    gap: 48px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu-group {
    width: calc(50% - 12px);
  }
  .copyright {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1025px) {
  .site-footer {
    border-radius: 100px 100px 0 0;
  }
  .action-banner-section {
    padding: 100px 0 140px 0;
  }
  .action-banner-title {
    font-size: 84px;
    width: 47%;
    max-width: none;
  }

  .footer-wrapper {
    padding-bottom: 27px;
  }
  .footer-menu {
    gap: 48px 80px;
  }
  .menu-group {
    width: auto;
    max-width: calc(25% - 17px);
  }
}

.btn-white {
  background: var(--neutral-white);
  color: var(--primary-base);
}
.btn-white:hover {
  background: #e2e8f0;
  color: var(--primary-base);
}
